<div class="container">
  <div
    class="tui-panel cyan-168 full-width black-255-text tui-no-shadow center"
  >
    <h1>Increasing Ones Turing machine</h1>
  </div>
  <div class="tui-panel cyan-168 full-width black-255-text tui-no-shadow">
    <button class="tui-button tui-no-shadow" (click)="navigateTo('')">
      Catalog
    </button>
  </div>
  <div class="tui-divider"></div>
  <div
    class="tui-window tui-no-shadow white-168 black-255-text turing-machine-configuration"
  >
    <fieldset class="tui-fieldset tui-border-dotted white-168">
      <legend>Turing Machine</legend>
      <div class="configuration">
        <table class="tui-table is-bordered is-centered">
          <thead class="black-168-text">
            <tr>
              <th style="width: 200px">m-config</th>
              <th style="width: 200px">symbol</th>
              <th style="width: 500px">operations</th>
              <th style="width: 200px">final m-config</th>
            </tr>
          </thead>
          <tbody class="black-168-text">
            <tr>
              <td style="width: 200px">b</td>
              <td style="width: 200px">none</td>
              <td style="width: 500px">Ps,R,Ps,R,P0,R,R,P0,L,L</td>
              <td style="width: 200px">o</td>
            </tr>
            <tr>
              <td>o</td>
              <td>1</td>
              <td>R,Px,L,L,L</td>
              <td>o</td>
            </tr>
            <tr>
              <td>o</td>
              <td>0</td>
              <td></td>
              <td>q</td>
            </tr>
            <tr>
              <td>q</td>
              <td>any</td>
              <td>R,R</td>
              <td>q</td>
            </tr>
            <tr>
              <td>q</td>
              <td>none</td>
              <td>P1,L</td>
              <td>p</td>
            </tr>
            <tr>
              <td>p</td>
              <td>x</td>
              <td>E,R</td>
              <td>q</td>
            </tr>
            <tr>
              <td>p</td>
              <td>s</td>
              <td>R</td>
              <td>f</td>
            </tr>
            <tr>
              <td>p</td>
              <td>none</td>
              <td>L,L</td>
              <td>p</td>
            </tr>
            <tr>
              <td>f</td>
              <td>any</td>
              <td>R,R</td>
              <td>f</td>
            </tr>
            <tr>
              <td>f</td>
              <td>none</td>
              <td>P0,L,L</td>
              <td>o</td>
            </tr>
          </tbody>
        </table>
      </div>
    </fieldset>
  </div>
  <app-tape [algorithm]="algorithm"></app-tape>
</div>
