.initial-tape .title {
    padding-bottom: 5px;
}

.settings {
    padding: 5px;
}

.actions {
    padding: 5px;
    margin-bottom: 10px;
    text-align: left;
}

.actions button {    
    text-align: center;
}

.initial-tape,
.complete-configuration,
.complete-configuration-header {
    display: table;
    table-layout: fixed;
    padding: 5px;
}

.configuration-name,
.complete-configuration .title,
.square {
    display: table-cell;
    padding: 1px;
    width: 70px;
    min-width: 70px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

.complete-configuration .title {
    width: 250px;
    min-width: 250px;
}

.square {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 20px;
    min-width: 20px;
}

.square:last-child {
    border-right: 1px solid black;
}

.square input {
    width: 10px;
    border: none;
}

.index {
    background-color: yellow;
}

.error {
    padding: 5px;
}

.error .message {
    color: red;
    font-size: 14px;
    font-size: 1em;
    font-weight: bold;
}