<div class="initial-tape-header">
  <span class="configuration-name"><b>m-config</b></span>
  <span class="title"><b>initial tape:</b></span>
</div>
<div class="initial-tape-configuration">
  <span class="configuration-name">{{algorithm.getFirstConfiguration().name}}</span>
  <span class="square" *ngFor="let square of initialTape.squares">
    <input type="text" [(ngModel)]="square.symbol.value">
  </span>
</div>
<div class="settings">
  <span class="squaresCount">
    <input type="text" [(ngModel)]="squaresCount">
  </span>
  <button [disabled]="!squaresCount || !algorithm.completed" (click)="changeInitialTapeSize()" class="applySettings">Resize</button>
</div>
<div class="actions">
  <button [disabled]="!algorithm.completed" (click)="evolve()" class="evolve">Evolve</button>
  <button [disabled]="algorithm.completed" (click)="stop()" class="stop">Stop</button>
  <button *ngIf="!algorithm.break && !algorithm.completed" (click)="pause()" class="pause">Pause</button>
  <button *ngIf="algorithm.break && !algorithm.completed" (click)="resume()" class="resume">Resume</button>
</div>
<div class="complete-configuration-header">
  <span class="configuration-name"><b>m-config</b></span>
  <span class="title"><b>tape symbols and position of the head</b></span>
</div>
<div class="complete-configuration" *ngFor="let status of machineStatusObservable | async">
  <span class="configuration-name">{{status.configurationName}}</span>
  <span class="square" *ngFor="let square of status.tape.squares; let i = index;" [ngClass]="{'index': status.index == i}">
    {{square.symbol.value}}
  </span>
</div>
<div class="error">
  <span *ngIf="algorithm.error" class="message">
    {{algorithm.errorMessage}}
  </span>
</div>