.settings {
    padding: 5px;
}

.actions {
    padding: 5px;
    margin-bottom: 10px;
    text-align: left;
}

.actions button {    
    text-align: center;
}

.initial-tape-header,
.initial-tape-configuration,
.complete-configuration,
.complete-configuration-header {
    display: table;
    table-layout: fixed;
    padding: 5px;
}

.configuration-name,
.initial-tape-header .title,
.complete-configuration-header .title,
.square {
    display: table-cell;
    padding: 1px;
    width: 200px;
    min-width: 150px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

.initial-tape-header .title,
.complete-configuration-header .title {
    text-align: left;
    width: 700px;
    min-width: 500px;
}

.evolution-title {
    padding: 1.5rem 2rem;
}

.square {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 30px;
    min-width: 25px;
    height: 15px;
}

.square:last-child {
    border-right: 1px solid black;
}

.square input {
    width: 30px;
    height: 15px;
    border: none;
}

.index {
    background-color: yellow;
}

.error {
    padding: 5px;
    margin-top: 10px;
}

.error .message {
    color: red;
    font-size: 14px;
    font-size: 1em;
    font-weight: bold;
}
