.container {
  padding: 1.5rem 2rem;
  border-width: 4px;
}

.title {
  font-size: 18px;
  font-size: 1.2857em;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 20px;
}

.reference {
  margin-left: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
  cursor: pointer;
}

.turing-machine-configuration {
  margin-right: 10px;
  float: left;
}

.configuration {
  text-align: center;
}

.configuration table {
  width: 404px;
}

.configuration table td {
  width: 100px;
}
