.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog {
  font-size: 1em;
  min-width: 500px;
  text-decoration: underline;
  cursor: pointer;
}

.catalog li {
  padding-bottom: 5px;
}
