<div class="title">One third Turing machine single m-config</div>
<div class="reference" (click)="navigateTo('')">Back to Turing machines catalog</div>
<div class="configuration">
  <div>
    <table>
      <tr><th>m-config</th><th>symbol</th><th>operations</th><th>final m-config</th></tr>
      <tr><td>b</td><td>none</td><td>P0</td><td>b</td></tr>
      <tr><td>b</td><td>0</td><td>R,R,P1</td><td>b</td></tr>
      <tr><td>b</td><td>1</td><td>R,R,P0</td><td>b</td></tr>
    </table>
  </div>
</div>
<div class="app-tape">
  <app-tape [algorithm]="algorithm"></app-tape>
</div>